@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}
header{
    box-shadow: rgb(197, 201, 204) 0px 20px 30px -10px;
    position: sticky;
    top: 0;
    background: white;
    height: 66px;
}

@media (max-width:880px){
    header{
        height: 100px;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    .rightBox{
        display: flex;
        flex-direction: column;
    }
    .right{
        margin: 12px;
    }
}

nav{
    font-size: 0.8rem;
    padding-top: 14px;
}

.container{
    padding: 0 5vw;
}

ul{
    list-style-type: none;
}
ul li{    
    padding: 0 10px;
}

.left img{
    height: 33px;
    width: 40px;
}

.section1{
    /* background: #f7f3f3; */
}

.homeimg{
    width: 90vw;
    margin: 12px 0;
}

.section2 img{
    width: 100vw;
}

.section2 .lower img{
    width: 50vw;
}

.section3 .upper img{
    width: 100vw;
}

.section3 .lower img{
    width: 15vw;
}

.footer{
    text-align: center;
    padding: 20px 0;
}


